<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    У грі-кросворді гравець заповнює прямокутник чорними і білими квадратами, де кожен порожній рядок і стовпець повинен бути заповнений словом. Слова по горизонталі перетинаються зі словами по вертикалі спільними літерами. У цьому завданні дається лише два слова.
</p>

<p style="text-align: justify;">
    Маючи горизонтальне слово і вертикальне слово, ваше завдання полягає в тому, щоб знайти найкращу літеру, що перетинається між ними, тобто літеру, яка дозволяє зробити перетин у горизонтальному слові найправішим, а у випадку нічиєї - найнижчим у вертикальному слові.
</p>

<p style="text-align: justify;">
    Ви повинні повернути кортеж з двох цілих чисел: 1 - індекси спільної літери у горизонтальному та вертикальному словах відповідно. Якщо спільної літери не існує, повернути -1, -1.
</p>

<img  title="example" src="{{MEDIA}}palavras-cruzadas.png" alt="example" style="max-height: 300px"/>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два рядки у верхньому регістрі <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Кортеж з двох цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Пояснення:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
