<!-- Describe task in general -->
<p style="text-align: justify;">
    In a crossword game, the player fills a rectangle with black and white squares, where each blank row and column must be filled with a word. The horizontal words intersect with the vertical words in common letters. In this mission only two words are given.
</p>

<p style="text-align: justify;">
    Given a horizontal word and a vertical word, your task is to find the best crossing letter between them, defined as the letter that allows the rightmost crossing in the horizontal word and, in the event of a tie, the lowest crossing in the vertical word.
</p>

<p style="text-align: justify;">
    You need to return a tuple of two integers: 1-based indexes of common letter in horizontal and vertical words respectively. If there is no common letter return -1, -1.
</p>

<img  title="example" src="{{MEDIA}}palavras-cruzadas.png" alt="example" style="max-height: 300px"/>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> Two uppercase strings <span translate="no">(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
    <strong>Output:</strong> Tuple of two integers <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
